[submodule "vendor/discord-rpc"]
	path = vendor/discord-rpc
	url = https://github.com/fenrirbots/discord-rpc
[submodule "vendor/parson"]
	path = vendor/parson
	url = https://github.com/fenrirbots/parson
